.container{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: wheat;
  text-align: center;
  padding: 20px;
}
#h1{
  color: red;
}
.input{
  border: 1px solid rgb(33, 160, 186);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}
button{
  padding: 20px;
  margin-top: 10px;
  border: rebeccapurple;
  border-radius: 5px;
  border: 1px solid rgb(33, 160, 186);
}
#final{
  background-color: rgb(33, 160, 186);
  width: 200px;
 
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  
  
}